/* svg {
  height: 500px;
  width: 960px;
} */

div {
  display: inline-block;
  /* border: solid black .5px; */
}

#analysis {
  position: relative;
  width: 1470px;
}

#textAnalysis {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 400px;
  height: 400px;
  /* background-color: indianred; */

}

#worldMap {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#horizontal_bar {
  position: absolute; 
  top: 70px;
  right: -70px;
}

#bar_legend {
  position: absolute;
  right: 10px;
  top: 250px;
  width: 300px;
  height: 100px;
  z-index: -1;
}

#filter {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

body {
  font-family: "Arial", sans-serif;
}

.bar {
  fill: #5f89ad;
}

.axis {
  font-size: 13px;
}

.axis path,
.axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 13px;
}

