<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin="" />
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Site CSS -->
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<title>coffee</title>
</head>





<body>
    <!-- Initialize a button for data type presented in horizontal bar chart -->
    <select id="data_year"></select>

    <!-- Initialize a DIV legend -->
    <div id="legend"></div>

    <!-- Initialize a DIV for the horizontal bar chart -->
    <div id="horizontal_bar"></div>

    <!-- Initialize an SVG for the world map-->
    <div id="worldMap"></div>













    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- d3 Geo-projection -->
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <!-- d3 Scale-Chromatic -->
    <script src="https://d3js.org/d3-scale-chromatic.v3.min.js"></script>
    <!-- API Key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!-- Map JS -->
    <script type="text/javascript" src="../static/js/choroplethMap.js"></script>
    <!-- Legend JS -->
    <script type="text/javascript" src="../static/js/legend.js"></script>
    <!-- Horizontal Bar Chart JS -->
    <script type="text/javascript" src="../static/js/hBar.js"></script>

</body>



</html>